<form accept-charset="UTF-8" action="/search" method="post">
	<div class="row">
		<div class="search">
		<label for="search"></label>
		<input name="search" type="text" placeholder="Search for products..." />
		<button class="button_default">Search</button>
		</div>
	</div>
</form>