<!--get access to header file-->
<% include ../partials/header %>
        <div class="item"> 
            <div class="item_show"> 
            <h1 class="itemtitle">About Us</h1>
            <div class="row">
            </div>
            <button class="button_default" id="hide">Hide Text</button>
            <button class="button_default" id="show">Show Text</button>
            <h1 class="itemp_show"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus diam non ante malesuada congue. Nam aliquet nulla ex, in maximus felis tincidunt et. 
                            Ut eu est augue. Aliquam congue sem turpis, et ultricies est interdum ut. Donec convallis aliquam dolor. Nunc nulla nisl, aliquet non tortor ac, mattis ultrices ligula.
                            Curabitur sit amet viverra tellus, eu elementum justo. Curabitur vitae orci leo. Praesent consequat vulputate nibh, a mollis velit ornare eget. 
                            Praesent non ligula quis turpis interdum dapibus non et nibh. Curabitur eget rutrum nunc. Aliquam erat volutpat. Vestibulum consectetur luctus metus nec sollicitudin. 
                            In felis ipsum, interdum hendrerit odio ac, pulvinar facilisis risus.Quisque sit amet congue lectus, sit amet volutpat ipsum. Maecenas convallis odio velit, sed venenatis
                            massa volutpat a. Donec at nisi sit amet lorem aliquam volutpat a ac turpis. Ut pulvinar mollis tortor eu pharetra. Phasellus non justo sed risus tempor facilisis a maximus
                            ante. Curabitur eget mauris ex. Nullam sagittis commodo molestie. Duis sem odio, aliquet rhoncus egestas vitae, condimentum ac metus. Aliquam consectetur, augue sed bibendum
                            maximus, quam turpis porta justo, eu mattis enim dui id turpis. Sed ac metus quis velit lacinia tempor. Phasellus venenatis tempus ante sed bibendum. Duis non tristique ipsum,
                            a sollicitudin risus. Nam nec nibh ac nibh blandit fringilla et sed mauris. Vestibulum sed quam ac purus laoreet varius. Ut eget dolor felis. Phasellus est nunc, tincidunt sit
                            amet eros eu, venenatis vehicula libero. Ut posuere ipsum ante, molestie vehicula risus feugiat eu. Nam volutpat pharetra felis vel cursus. Duis varius ac leo nec blandit. 
                            Quisque mollis sed mauris at efficitur. Quisque et urna ac elit tempus tincidunt. Pellentesque aliquet arcu eu sem placerat, vitae interdum purus ultricies. Etiam accumsan nulla
                            ut diam aliquet luctus. Fusce placerat tincidunt pharetra. Proin interdum nisl at arcu porttitor, quis finibus dolor mollis. Curabitur laoreet a purus vel auctor. Vivamus vitae
                            varius elit, non elementum justo. Proin semper erat quis ultrices sodales. Pellentesque quis metus rutrum, bibendum ante ut, vestibulum odio. Aliquam pretium pulvinar augue, vitae
                            luctus nunc ornare eget. In massa tellus, pharetra congue nibh id, porttitor pretium elit. Vestibulum at ipsum id nunc lobortis blandit. Suspendisse non ullamcorper lorem, ac
                            tempus magna. Pellentesque a lectus id nulla pharetra dignissim non eget felis. Curabitur finibus justo nisl, non accumsan lectus posuere ac. Nullam porta molestie sagittis. 
                            Sed pulvinar nibh at egestas finibus. Sed fringilla arcu risus, non pretium est malesuada vitae. Morbi in erat lacinia, pulvinar neque vitae, laoreet tortor. Suspendisse potenti.
                            Curabitur aliquam nibh vel erat tempor molestie. Mauris luctus risus tellus, nec ornare nibh consectetur at. Cras volutpat velit in tempus malesuada. Fusce pellentesque nisi nec
                            elit varius posuere. Maecenas sit amet aliquam libero, eget venenatis ipsum. Suspendisse et felis nisl. Nullam consequat enim tincidunt faucibus dignissim. Vestibulum maximus nunc
                            id lorem ullamcorper hendrerit. Quisque ultricies suscipit neque non condimentum.</h1></br></br></br></br></br>
            <div class="row">
                <div class="holder">
                    <div class="normal">
                            <h1>Dog</h1>
                            <h2>Toys</h2>
                        </div>
                        <div class="normal2">
                            <h1>Cat</h1>
                            <h2>Toys</h2>
                        </div>
                    </div>
                </div>
            </div></br></br></br>
<!--get access to footer file-->
<% include ../partials/footer %>