<!--get access to header file-->
<% include ../partials/header %>

<div class="row">
    <h1>Add contact details for new Pet Shop</h1>
    
    <div class="grid-container_form">
        <form accept-charset="UTF-8" action="/add_contacts" method="post">
            
            <div class="item_ae">
                <label for="street">*Street:</label>
                <input name="street" type="text" placeholder="Please enter shop street address" , required/>
                
                <label for="city">*City:</label>
                <input name="city" type="text" placeholder="Please enter shop city" , required/>
                
                <label for="country">*Country:</label>
                <input name="country" type="text" placeholder="Please enter shop country" , required/>
                
                <label for="hours">*Hours:</label>
                <input name="hours" type="text" placeholder="Please enter shop hours" , required/>
                
                <label for="email">*Email:</label>
                <input name="email" type="text" placeholder="Please enter shop email" , pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", required/>
                
                <label for="phone">*Phone:</label>
                <input name="phone" type="text" placeholder="Please shop phone number" , required/>
                
                <label for="fax">*Fax:</label>
                <input name="fax" type="text" placeholder="Please enter shop fax number" , required/>
            
                <button class="button_default">Add New Pet Shop</button>
            </div>
            
        </form>
        
    </div>
    
</div>
</br></br></br></br></br></br></br></br>
<!--get access to footer file-->
<% include ../partials/footer %>