<!--get access to header file-->
<% include ../partials/header %>
        <div class="spacers">
            <h1>
                Welcome to our Pet Shop
            </h1>
        </div>
        </br></br></br></br></br></br></br></br>
        <!--get access to search file-->
        <% include ../partials/search %>
        </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<!--get access to footer file-->
<% include ../partials/footer %>